/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: white;
    background: black;
    font-family: 'Lucida Grande', sans-serif;
    size: 16px;

}

body {
    line-height: 1;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 32px;
    text-shadow: 4px 4px 2px black;
    padding-bottom: 0px;
    margin-block-end:0px;
}

p {
    size: 16px;
    padding-top: 15px;
    margin-block-start:0px;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

div {
    min-height: 100px;
    padding: 30px;
}

#red {
    background-color: red;
    text-align: right;
}

#blue {
    background-color: blue;
    text-align: left;
}

#yellow {
    background-color: yellow;
    text-align: right;
    color: black;
}

#yellow h2 {
    text-shadow: 4px 4px 2px grey;
}

#green {
    background-color: green;
    text-align: left;
}

footer {
    text-align: center;
    padding-bottom: 15px;
}